<h1>Create User Account</h1>

<% if @user.errors.any? %>
<ul>
  <% @user.errors.full_messages.each do |error| %>
  <li style = "color: red"><%= error %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @user do |f| %>

  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.submit %>
  </div>

<% end %>
