<!-- LIST PRODUCT -->
<div class="row">
  <div class="product-display form-group-lg col-md-6 col-md-offset-3">
  <h1><%= @product.name %> <span class="prod-cost"><%= number_to_currency(@product.price) %></span></h1>
  <h5><%= @product.description %></h5>
  <p class = "text-muted"><%= link_to "EDIT", edit_product_path(@product) %></p>
  <p class = "text-muted"><%= link_to "DELETE", product_path(@product), method: :delete, data: { confirm: "Are you sure??"} %></p>
  </div>
</div>

<h3 class = "text-lg-center">Add a review: </h3>
    <!-- DISPLAYS THE ERROR FOR REVIEWS -->
    <% if @review.errors.any? %>
    <div class="row">
      <div class="form-group-lg col-md-6 col-md-offset-3 alert alert-danger">
        <p>The form contains <strong><%= pluralize(@review.errors.count, "error") %></strong>.</p>
      <ul>
        <% @review.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
  <!-- CREATE NEW REVIEWS -->
<div class="row">
  <div class="form-group-lg col-md-6 col-md-offset-3">
    <%= form_for [@product, @review], remote: true do |f|  %>
      <div class = "form-group">
        <%# f.label :body %>
        <%= f.text_area :body, class: "form-control" %>
      </div>
      <div class = "form-group">
          <%= f.submit "Create Review", class: "btn btn-primary-outline btn-block" %>
      </div>
    <% end %>
  </div>
</div>
<!-- DISPLAY ALL THE REVIEWS -->
<div class="row">
  <div class="form-group-lg col-md-6 col-md-offset-3">
    <h2 class= "text-lg-center">Reviews:</h2>
    <div class="listed-reviews">
      <% @product.reviews.each do |review| %>
      <%= render "reviews/review", review: review %>
    <% end %>
    </div>
  </div>
</div>
